<div class="">
  <div class="container text-center">
    <h2 class="mt-2 mb-4">Minigist</h2>
    <textarea class="form-control" style="width: 400px; height: 200px; margin-left: auto; margin-right: auto;" id="txtin" placeholder="type here..."></textarea>

    <h4 class="mt-5">This is your URL</h4>
    <p id="txtout" class="max-width: 600px; word-wrap: break-word;">
    </p>
  </div>
</div>
